<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- BEGIN bloco_titulo -->
<title>Meu primeiro Tableless</title>
<!-- END bloco_titulo -->
<link rel="stylesheet" type="text/css" media="all" href="../css/estilo.css" />
</head>
<body>
	<div id="container">
    	<div id="header">
        	<div id="logo"></div>
            <!-- BEGIN bloco_menu -->
            <div id="menu">
            	<ul>
                	<li><a href="{linkPrincipal}">{principal}</a></li>
                    <li><a href="{linkArtigos}">{artigos}</a></li>
                    <li><a href="{linkGaleria}">{galeria}</a></li>
                    <li><a href="{linkCadastrese}">{cadastrese}</a></li>
                    <li><a href="{linkContato}">{contato}</a></li>
                </ul>
            </div>
            <!-- END bloco_menu -->
        </div>
        
        <!-- BEGIN bloco_content -->
        <div id="content">
        {conteudo}
        </div>
        <!-- END bloco_content -->
        
        <!-- BEGIN bloco_footer -->
        <div id="footer">
        {direitos} <br /> {autor}
        </div>
        <!-- END bloco_footer -->
    </div>
</body>
</html>
